<div class="jumbotron">
    <h1>Bootprint example</h1>
    <p>This example overrides the "base/header" partial in order to insert this jumbotron at the top.
    It also adds a custom less-file that makes the background black.</p>
</div>